* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
img {
    width: 85px;
    height: 85px;
}
.container {
    width: 1000px;
    height: 500px;
    position: relative;
    margin: 200px auto 0 auto;
}
.title {
    width: 350px;
    height: 110px;
    background-color: red;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -75px;
    left: 325px;
    z-index: 3;
}
.content {
    width: 750px;
    height: 500px;
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 70px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 125px;
}